// vim: ft=stylus

// Full-height layout
// .View-ContentWrapper, // _mode_default
html,
body,
#root,
.App {
  height: 100%;
  position: relative;
  background-color: $(pageBgColor);
}

body {
  margin: 0;
  padding: 0;
  @mixin defaultFont;
  // font-family: $(defaultFontFamily);
  // font-size: $(defaultFontSize)px;
  // // font-size: calc($(defaultFontSize) + 4)px; // DEBUG
  // // font-size: resolve( $(defaultFontSize) + 2)px; // DEBUG
  // color: $(defaultTextColor);
}

// Default links...

a {
  color: $(defaultLinkColor);
  &:hover {
      color: $(defaultHoveredLinkColor);
  }
  // ???
  // &:visited {
  //     // color: $(defaultHoveredLinkColor);
  //     opacity: .8;
  // }
}

