# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules*

# Temp etc...
zia*
*_
*~
node_modules/
\!UNUSED/
.DS_Store
.idea/
*.iml
.project
\!ARC*
/*.docs
/*.examples
/*.specs
/*.tests
/*.sets
/*.tmpl-specs

# Archives

!*.zip

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
.vscode

# jest folders
!__tests__
!__snapshots__

# gvim sessions
*.session

# logs
*.log
