// vim: ft=stylus

$topMargin: 15px;

.Navbar {
  &-MenuItem {
    display: inline-block;
    margin: $topMargin 8px;
    line-height: resolve( $(NavbarHeight) - 10 )px;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
