// vim: ft=stylus

.Navbar {
  &-Menu {

    overflow: hidden;

    text-align: center;

    @media (min-width: $(NavBarTreshold)px) {
      flex: 1;
      text-align: left;
    }

    // white-space: nowrap;
    // // DEMO
    // ^&_mode_default & {
    //   // border: 1px solid red;
    // }
  }
}
