
.App
  text-align: center;
  border: 1px solid red
  display: flex
  flex-direction: row
  align-items: center

// .App-Title {
//   font-size: 1.5em;
// }
//
// .App-Intro {
//   font-size: large;
// }
