// vim: ft=scss

.App {
  // display: flex;
  // flex-direction: row;
  // align-items: center;
  &-Header {
    text-align: center;
  }
  &-Title {
    font-size: 1.25em;
  }
  &-Intro {
    font-size: large;
  }
}
