// vim: ft=stylus

.App {

  display: flex;
  flex-direction: column;
  // align-items: center;

  // OLD code (from bem-react sample)...
  &-Header {
    text-align: center;
  }
  &-Title {
    font-size: 1.25em;
  }
  &-Intro {
    font-size: large;
  }
}
