// vim: ft=stylus

.Navbar {

  background-color: $(pageBgColor);
  z-index: 10;

  padding: 5px 0;
  padding-top: 10px;

  @media (min-width: $(NavBarTreshold)px) {
    display: flex;
    flex-direction: row;
  }

  // Animations...
  transition: opacity 1s, top .5s ease-out; // cubic-bezier(.29, 1.01, 1, -0.68);
  // transition-delay: 1s;

  opacity: 0;
  pointer-events: none;

  .App_wasReady.App_status_loading & {
    opacity: .25;
    pointer-events: none;
  }

  .App_status_error &,
  .App_wasReady & {
    pointer-events: all;
    opacity: 1;
  }

  // Position: default at page top
  position: static;
  width: 100%;
  top: 0;

}
