// vim: ft=stylus

.Navbar {
  &-Logo {

    flex: 1;
    text-align: center;

    &Img {
      width: 250px;
    }
    &Link {
      // &:visited {
      //   opacity: 1;
      // }
      transition: .2s opacity;
      &:hover {
        opacity: .6;
      }
    }
  }
}
