// vim: ft=stylus

.Navbar {
  &-Logo {

    text-align: center;
    margin-top: 3px;

    @media (min-width: $(NavBarTreshold)px) {
      flex: 1.5;
    }

    &Img {
      display: block;
      width: 250px;
    }
    &Link {
      display: inline-block;
      // &:visited {
      //   opacity: 1;
      // }
      transition: .2s opacity;
      &:hover {
        opacity: .6;
      }
    }
  }
}
