// vim: ft=stylus

@import './variables.css';

$localVarColor: magenta;

:root {
  --rootColor: pink; // Define variable in root scope
}

:View {
  --localColor: #00ff00; // Define variable in specified scope
}

.View {
  &-ContentWrapper {
    width: 100%;
    padding: 10px;
    // @media (--testViewport) {
    //   color: green;
    //   color: $localVarColor; // magenta
    //   color: var(--rootColor); // pink
    //   color: var(--localColor); // green
    //   color: var(--testGlobalColor); // orange
    //   color: var(--includedColor); // red
    //   color: color-mod( var(--testGlobalColor) blend(black 20%) ); // @see https://github.com/jonathantneal/postcss-color-mod-function
    //   color: color-mod( var(--testGlobalColor) alpha(50%) ); // @see https://github.com/jonathantneal/postcss-color-mod-function
    //   opacity: .5;
    // }
  }
}
