// vim: ft=stylus

// {{{ DEBUG

@import './variables.css';

$localVarColor: magenta;

:root {
  --rootColor: pink; // Define variable in root scope
}

:View {
  --localColor: #00ff00; // Define variable in specified scope
}

// }}} DEBUG

.View {
  &-ContentWrapper {

    width: 100%;
    padding: 15px;

    // {{{ DEBUG
    // @media (--testViewport) {
    //   color: green;
    //   color: $localVarColor; // magenta
    //   color: $(rootColor); // pink
    //   color: $(localColor); // green
    //   color: $(testGlobalColor); // orange
    //   color: $(includedColor); // red
    //   color: color-mod( $(testGlobalColor) blend(black 20%) ); // @see https://github.com/jonathantneal/postcss-color-mod-function
    //   color: color-mod( $(testGlobalColor) alpha(50%) ); // @see https://github.com/jonathantneal/postcss-color-mod-function
    //   opacity: .5;
    // }
    // }}}

    // Content elements...

    h1 {
      // color: $(defaultLinkColor);
      @mixin titleFont;
    }

  }
}
